.container
    .row
        .col.s12.m10.offset-m1.l10.offset-l1
            ul#chatRoom.collection

#messageBox.white
    .row
        .col.s12.m8.offset-m2.l6.offset-l3.flex-center
            input#messageInput.flex-grow(type='text', autocomplete='off', placeholder='Message')
            button#messageSendButton.btn-floating.waves-effect.waves-light
                i.large.material-icons send
