+DropdownContent('ss', [
    ['#ss', "일반 채팅"],
    ['#ss.notice', "공지사항"],
    ['#ss.report', "신고"]
])

+DropdownContent('w', [
    ['#w.code', "프로그래밍"],
    ['#w.design', "디자인"],
    ['#w.compose', "작곡"],
    ['#w.video', "영상 컨텐츠"],
    ['#w.3d', "3D 그래픽"],
    ['#w.illust', "일러스트레이션"],
    ['#w.strategy', "기획"],
    ['#w.translate', "번역"],
    ['#w.engineer', "엔지니어링"]
])

+DropdownContentAdvanced('p', [
    ['#p.1-1', "FLOW 프로젝트"],
    ['#p.12-2', "제노퍼스"],
    ['#p.13-1', "팀 리창인생"],
    ['#p.14-1', "NoCo"]
], ['.notice', " 공지"])

+DropdownContent('h', [
    ['#h.technology', "기술"],
    ['#h.music', "음악"],
    ['#h.anime', "애니메이션"],
    ['#h.music-games', "리듬게임"]
])
