extends layout

block content
    nav.red.lighten-1
        .nav-wrapper.container
            a.brand-logo(href='/')
                i.material-icons.left error
                | #{(error.status ? (error.status + ' ') : '') + message}
    
    .row
    .row
        .col.s12
            .card-panel
                pre= error.stack
