extends layout

block themeColor
    - var themeColor = '#EF5350';
    
block content
    nav.red.lighten-1
        .nav-wrapper.container
            a.brand-logo(href='/')
                | #{(error.status ? (error.status + ' ') : '') + message}
    
    .row
    .row
        .col.s12
            .card-panel
                pre= error.stack
