extends layout

block content
    .row
        .col.s12.m6
            .card.big.grey.darken-1
                .card-content.white-text
                    span.card-title= (error.status ? (error.status + ' ') : '') + message
                    textarea.materialize-textarea= error.stack
                .card-action
                    a(href="/") Back to title
