extends layout

block stylesheets
    link(rel='stylesheet', href='/css/index.css')

block content
    nav.navbar.navbar-default.navbar-fixed-bottom
        .col-less-padding.col-xs-3.col-md-offset-2.col-md-1
            button#lockScrollButton.btn.btn-lg.btn-default.btn-block
                span.glyphicon.glyphicon-pushpin
        .col-less-padding.col-xs-9.col-md-7
            #messageInputField.input-group
                input#messageInput.form-control.input-lg(type='text', autocomplete='off', placeholder='Message')
                span.input-group-btn
                    button#messageSendButton.btn.btn-lg.btn-primary(type='button') Send
            
    .container
        .row
            .col-xs-12.col-xs-offset-0.col-md-10.col-md-offset-1
                ul#chatRoom.list-group
                    li.list-group-item= title
                        | &nbsp;(
                        a(href='#{repo}/commits/#{hash}')= hash.substring(0, 7)
                        | )

block scripts
    script(src='/js/index.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')
