doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        block themeColor
        meta(name='theme-color', content='#{themeColor}')
        title= title
        link(rel='icon', type='image/png' href='/favicon.png')
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css')
        link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')
        block stylesheets
    body
        block content
        script(src='//code.jquery.com/jquery-2.1.4.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js')
        script(src='/socket.io/socket.io.js')
        block scripts
