@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.username {
    color: crimson;
    font-weight: bold;
}

.date {
    float: right;
    font-weight: bold;
}

#chatRoom {
    margin-top: 16px;
}

#chatRoom li {
    word-wrap: break-word;
}

#messageBox {
    position: fixed; left: 0px; right: 0px; bottom: 0px;
    box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.16),0 -2px 10px 0 rgba(0,0,0,0.12)
}

#messageBox .row {
    margin-bottom: 0px;
}

.flex-center {
    display: flex; align-items: center;
}

.flex-grow {
    flex-grow: 1;
}

.flex-center .btn-floating {
    flex: none;
}

#messageInput {
    margin-top: 7px;
}

#messageSendButton {
    width: 48px; height: 48px;
    line-height: normal;
    margin-left: 15px;
}

#messageSendButton i {
    line-height: 48px;
}
