* {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.username {
    color: crimson;
    font-weight: bold;
}

#messageInputField {
    margin: 16px;
}
